*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

body{


}

#hero{
    background-image: url(imagen/feijuada.jpg);
background-repeat: no-repeat;
width: auto;
height: 200px;    
}

.navbar{
    margin: 10px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

#logo{
    border-radius: 50%;
    height: 45px;
}

a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover{
    color: red;
}

.container{
    margin-bottom: 20px;
    display: flex;;
}
figure{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}