*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
}

.navbar{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.container{
    margin-bottom: 20px;
    display: flex;
}
figure{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}