*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

body{
/* background-color: lightslategray; */

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
}


#logo{
    border-radius: 50%;
    height: 45px;
}

a{
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    color: red;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
    padding: 40px;
    background:#f4f4f4;
}

.hamburguer-card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.hamburguer-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.hamburguer-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.info{
    padding: 20px;
}

.info h3{
    color: #ff4d00;
    font-size: 22px;
}

.info p{
    color: #555;
    margin-top: 10px;
    line-height: 1.4;
}

figure{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

figcaption{
    margin: 10px;
    padding: 10px;
}

footer p {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

footer{
    color: white;
    background-color: rgb(37, 38, 39);
    width: auto;
    height: 45px;
}


@media  (min-width: 768px){
    .navbar{
        padding: 15px 20px;
    }

    .container{
        padding: 20px;
    }

}