*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

body{
/* background-color: lightslategray; */

}


.navbar{
    margin: 10px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

#logo{
    border-radius: 50%;
    height: 45px;
}

a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover{
    color: red;
}

.container{
    display: grid;
     /* grid-template-columns: auto 300px 1fr auto; */
}
#hanburguer1{
display: flex;
}

#hanburguer2{
    display: flex;
}

#hanburguer3{
    display: flex;
}

figure{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

figcaption{
    margin: 10px;
    padding: 10px;
}

footer p {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

footer{
    color: white;
    background-color: black;
    width: auto;
    height: 45px;
}


@media screen and (min-width: 768px){
    
    .container{
        display:grid;
        grid-template-columns:1fr;
    }

}